<p id="notice"><%= notice %></p>


<div class="panel panel-info">
  <div class="panel-heading"><h1 align="center">Planetas del Sistema Solar</h1></div>
  <div class="panel-body">
  Se considera planeta al cuerpo celestial que está en órbita alrededor de un sol, tiene masa suficiente para que su propia gravedad se imponga a las fuerzas de un cuerpo rígido de manera que adquiere una forma redonda esférica y despeje de otros cuerpos celestiales la órbita por la cual transita. Cualquiera de los ocho cuerpos celestes más importantes que están en órbita alrededor del Sol y brillan por el reflejo de su luz (La Luz solar) ya que no tienen luz propia, son planetas.
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h2><span class="label label-primary">Listado de Planetas</span></h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><h3>Planeta</h3></th>
          <th><h3>Radio km2</h3></th>
          <th><h3>Descripcion</h3></th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @my_planets.each do |my_planet| %>
          <tr>
            <td><%= my_planet.name_planet %></td>
            <td><%= my_planet.radius %></td>
            <td><%= my_planet.description %></td>
            <td><%= link_to 'Show', my_planet %></td>
            <td><%= link_to 'Edit', edit_my_planet_path(my_planet) %></td>
            <td><%= link_to 'Destroy', my_planet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <br>
    
    <%= link_to 'Nuevo registro', new_my_planet_path %>
  </div>
</div>

